@{
    ViewData["Title"] = "Home Page";
}
<style>
    .home {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }

    .content {
        width: 45%; 
    }

    .img img {
        width: 50%; 
        padding-top:40px;
    }

</style>
<section class="home">
    <div class="content">
        <h3>
            Biggest iPhone Sale
            <br> <span>Up To 20% Off</span>
        </h3>
        <p>
            Unlocking innovation through customer-centric product management !
        </p>
        <a id="shopnow" asp-controller="Account" asp-action="Login" class="btn btn-outline-dark">Shop Now</a>
    </div>
    <div class="img">
        <img src="~/image/iphone.jpg" alt="Product Image" style="width: 400px; height: 400px;" />

    </div>
</section>

<div class="container" style="margin-top: 100px;">
    <hr>
</div>
<div class="container">
    <h3 style="font-weight: bold;">PRODUCT.</h3>
    <p>Welcome to my Product Management Portfolio! With a passion for innovation and a track record of delivering successful products, I bring a wealth of experience in the dynamic field of product management. Throughout my career, I've had the privilege of working with diverse teams and driving the development of groundbreaking products that meet customer needs and exceed business goals. My approach to product management is rooted in a customer-centric mindset, data-driven decision-making, and a commitment to continuous improvement. I invite you to explore my portfolio, where I share key projects, achievements, and insights that illustrate my dedication to creating exceptional user experiences and driving business growth. </p>

    <hr>
</div>
<!-- product -->
<!-- offer -->
<div class="container" id="offer">
    <div class="row">
        <div class="col-md-4 py-3 py-md-0">
            <i class="fa-solid fa-cart-shopping"></i>
            <h5>Free Shipping</h5>
            <p>On order over $100</p>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <i class="fa-solid fa-truck"></i>
            <h5>Fast Delivery</h5>
            <p>World wide</p>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <i class="fa-solid fa-thumbs-up"></i>
            <h5>Big Choice</h5>
            <p>Of product</p>
        </div>
    </div>
</div>
