@model ProductManagement.Models.DomainModel.ProductModel

@{
    ViewData["Title"] = "Product Added to Cart";
    Layout = "_LayoutUser";
}
<br />

<h2>@ViewData["Title"]</h2>

<div>
    <div>
        <p>Product Name: @Model.Name</p>
        <p>Price: $@Model.Price</p>
    </div>
    <div>
        <a class="btn btn-outline-primary" href="@Url.Action("ViewCart", "User")">View Cart</a>
        <a class="btn btn-outline-primary" href="@Url.Action("ViewProducts", "User")">Continue</a>
    </div>
</div>
